* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bg {
    filter: sepia(30%);
    background-image: url(/V-03/img/CR7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: white;
    mix-blend-mode: screen;
    box-sizing: border-box;
    font-family: tahoma;
    font-size: calc(5rem + 9.25vw);
    font-weight: 700;
    letter-spacing: -0.25rem;
    line-height: 0.9;
    margin: 0;
    text-align: right;
    text-transform: uppercase;
}

.content {
    box-sizing: border-box;
    padding: 0 1rem 1rem;
    width: 40vw;
}

@media(min-width: 40em) {
    .content {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 37vw;

    }
}

.text {
    height: 100vh;
    width: auto;
}

.flat {
    background-color: white;
    color: #62158b;
    height: 197px;

}

.falt p {
    margin: auto 0 ;
    padding: 0;
    font-family: tahoma;
}